POSTGRES_USER=postgres  #default user
POSTGRES_PASSWORD=password #default password
POSTGRES_HOST=localhost #default localhost
POSTGRES_PORT=5432 #default PostgreSQL port
POSTGRES_DB=postgres #database name

# pgAdmin Panel credentials
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
